asn1crypto==0.24.0
blinker==1.4
certifi==2018.8.24
configobj==5.0.6
cryptography==2.6.1
entrypoints==0.3
gitdb==4.0.5
GitPython==3.1.11
htmlmin==0.1.12
idna==2.6
joblib==0.17.0
jsmin==2.2.2
jsonpatch==1.21
jsonpointer==1.10
jsonschema==2.6.0
keyring==17.1.1
keyrings.alt==3.1.1
lunr==0.5.8
MarkupSafe==1.1.0
mkdocs==1.1.2
mkdocs-git-revision-date-localized-plugin==0.8
mkdocs-material==6.1.7
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.3.0
mkdocs-redirects==1.0.1
nltk==3.5
oauthlib==2.1.0
pycrypto==2.6.1
PyGObject==3.30.4
PyJWT==1.7.0
pymdown-extensions==8.0.1
pyxdg==0.25
PyYAML==3.13
regex==2020.11.13
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
smmap==3.0.4
tqdm==4.54.1
urllib3==1.24.1
zipp==3.4.0
